/* TodoList.css */

.edit-employee-button,
.delete-employee-button,
.delete-todo-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-employee-button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50px;
  padding: 5px;
  background-color: #4CAF50; /* Green */
  color: white;
}

.delete-employee-button,
.delete-todo-button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50px;
  padding: 5px;
  background-color: #f44336; /* Red */
  color: white;
}

.todo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.todo-item {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.todo-item div {
  margin-bottom: 10px;
}
